
.onem{
    color : white;
}
.rond{
    background : red;
    border-radius : 45px;
    height : 100%
}
.he{
  height : 100vh
}
.white{
    color : white;
}
.red{
    color : red;
}


.numCurr{
    justify-content:  center;
    color : white;
    font-size : 7vh;
    margin-top : 0.5vh
}


.svgw{
    color : white;  
}

#hold{
    background-color:lightgoldenrodyellow;
    border-radius : 1vh;
    height : 7vh;
    width : 30vh;
    font-size : 5vh
}
button{
    border : none
}
#roll {
    background-color : rgb(204, 224, 174);
    border-radius: 2vh;
    height : 7vh;
    width : 30vh;
    font-size : 5vh;
}
svg{
    color : blue;
}


@media screen and (max-width: 1300px) { 
    #roll{
        height : 20vw;
        width : 18vw;
        font-size : 4vw;
     }
     #hold{
        height : 20vw;
        width : 18vw;
        font-size : 4vw;
     }
     .de{
         height : 20vh;
         width : 20vw;
    
     }
}
h2 {
    color : white;
}
 

