
h1{
  margin-left : 2vh;
  font-size : 5vh;
}

.navation {
  color : white;
}
.asides{
  padding-top : 3vh;
  height : 80vh; 
  background-color:  #282c34;
  font-size : 2vw;

  

}

.aside {
height : 14vh;
border-bottom-right-radius: 3vh;
border-top-right-radius: 3vh;
width : 100%;
border : none;
margin-bottom: 6px;
background-color :steelblue



}
.une{
width : 60vw;
height : 40vh;
border-bottom-left-radius: 2vh;
border-bottom-right-radius: 2vh;
}
.tit{
  color : white; 
  height : 6vh; 
  font-size : 4vh ;
  padding-left : 2vh;
  border-top-left-radius: 2vh;
  border-top-right-radius: 2vh;
}
.asides svg{
  margin-right : 4vh;
  color : black
}
.pfc{
  height: 26vh ;
  width : 28vw ;
  border-radius: 2vh;
  
}
.login{
  background-color: rgb(88, 212, 88);
}
img{
  height : 50px;
  width : 100px;
}
.row{
  padding-left : 0
}
.password-link:link {
text-decoration-line: none;
font-size:  0.9rem;
}
.password-link:hover {
  text-decoration: underline;
  color :darkviolet;
}
