@color1 : #282c34;

/***Style base***/
*{
    user-select: none;
}
a:link, a:hover, a:visited {
text-decoration : none;
}
body{
    background-color : @color1;
}
.full-center{
    display:flex;
    justify-content: center;
    align-items: center;
}
.border10{
    border-radius : 10px;
}
.s-bold{
    font-weight : 500;
}
.bold{
    font-weight : 700
}
h1{
    color : white;
    font-size : 2rem;
}
.small-text{
    font-size : .85rem;
}
.box-white{
    width : 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 7px;
    border : none;
    background-color : white;
    h1{
        color : black;
        font-size : 1.625rem;
    }
}
.red{
    color : red;
}
.green{
    color : green;
}
.white{
    color : white;
}
.black{
    color : black;
}



/***header***/

header{
    .logo{
        height : 100px;
        width : auto;
        filter: invert(8%) sepia(100%) saturate(74%) hue-rotate(100deg) brightness(80%) contrast(100%);
        -webkit-filter: invert(100%) sepia(80%) saturate(64%) hue-rotate(320deg) brightness(100%) contrast(90%);
        user-select: none;
        -webkit-user-select: none; 
        -moz-user-select: none; 
        -ms-user-select: none; 
    }
    a:link, a:visited {
        color : white;
        font-size : 1.125rem;
    }
    a:hover{    
        color : rgb(129, 211, 186)
    }
    .dropdown{
        button, button:hover{
            color : white;
            font-size : 1.125rem;
        }
        ul{
            background-color: @color1;
        }
    }
}
@media all and (min-width : 991px){
    header{
        .logo{
            height : 120px;
            width: auto;
        }
    }
}
/***Index***/
.home{
    .owl-carousel{
        .section-carousel{
            height : 400px;
            background-size : cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius : 10px;
            font-weight : bold;
            display : flex;
            align-items : center;
            // padding-left : 20px;
            .carousel-content{
                background-color:  rgba(255,255,255, 0.4);
                height : 100%;
                width : 100%;
                border-radius : 10px;
                font-size : 1.25rem;
                display : flex;
                flex-direction: column;
                justify-content: space-around;
                h2{
                    font-weight : 700;
                    text-align : center;
                }
                button{
                    border-radius : 5px;
                    background-color: transparent;
                    border : 1px solid black
                }
                button:hover{
                    background-color: rgb(5, 143, 5);
                    border :1px solid rgb(5, 143, 5);
                    color : white;
                }

            }
        }
    }
    .first-carousel{
        background-image: url("../quiz-cap/medium.jpg");        
    }
    .second-carousel{
        background-image: url("../Img/flappy-bird.png");        
    }
    .third-carousel{
        background-image: url("../Img/numbers.png");        
    }
    .box-left, .box-right{
        height : 350px;
        width : 100%;
        border-radius: 10px;
        button{
            border-radius : 5px;
            background-color: transparent;
            border : 1px solid black
        }
        button:hover{
            background-color: rgb(5, 143, 5);
            border :1px solid rgb(5, 143, 5);
            color : white;
        }
        .box-content{
            background-color:  rgba(255,255,255, 0.4);
            height : 100%;
            width : 100%;
            border-radius : 10px;
            font-size : 1.25rem;
            display : flex;
            flex-direction: column;
            justify-content: space-around; 
        }

    }
    .box-left{
        background : url("../Img/game-pfc.jpg");
        background-size : cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color:  rgba(255,255,255, 0.4);
    }
    .box-right{
        color : black;
        background : url("../Img/dé.jpg");
    }
    
}
@media all and (min-width : 991px){
    .home{
        .owl-carousel{
            .carousel-content{
                h2.title-game{
                    text-align: left;
                }
            }
        }
    }
}

/*********Games********/
.games{
    h1{
        font-size : 1.8rem;
    }
    .box-game{
        margin-top : 30px;
        color:#282c34; 
        a:link, a:visited, a:hover{
            text-decoration: none; 
            color : black;  
            height : 100%;
            width : 100% 
        }
        .box-content{
            border-radius : 10px;
            height : 100%;
            width : 100%;
            background-color: white;
            padding : 15px;
        }
        .games-image{
            border-radius: 15px;
            width : 100%;
            height : 200px;
        }
        
    }
     
    .box-content:hover{
        background-color: blanchedalmond;
    }
}
@media all and (min-width : 991px) {
    .games{
        .box-game{
            padding : 15px;
        }
    }
}
/***Ranking***/
.ranking{
    color : white;
    tr{
        height : 50px;
        padding : 3px;
        color : black;
        text-align : center;
    }
    tr:nth-of-type(even) { 
        background-color: rgb(245, 255, 255);
    }
      
    tr:nth-of-type(odd) { 
          background-color: rgba(243, 243, 243, 0.815);
    }
    tr.legend{
        background-color: @color1;
        color : white;  
    }
    tr.gold{
        background-color: #ffe400;        ;
        opacity: .7;
    }
    tr.silver{
        background-color: silver;
        opacity: .7;
    }
    tr.bronze{
        background-color: burlywood;
        opacity: .7;
    }
    td{
        width : calc(100% / 3);
        padding: 3px;
    }
    table {
        width  : 100%;  
        border-radius : 10px 
    } 
    select{
        background-color: #282c34;
        color: white;
        border: 1px solid white;
        text-align: center;
        border-radius: 5px;
    }

}

/***Profile***/
.profile{
    h2{
        font-size : 1.6rem;
    }
    .close{
        border : none;
        background-color: transparent;
        color : red;
    }
}

/***Form***/
.form{
    #handleWrongResult{
        color : red;
        font-size : .9rem;
    }
    .links{
        font-size : .925rem;
    }
}

/***Game-dice***/
.game-dice{
    .score{
        font-size : 60px;
        color : white
    }
    #score1, #score2{
        font-size : 4rem;
    }
    #current1, #current2{
        background-color :rgb(129, 211, 186);
        border-radius : 12px;
        height : 150px;
        font-size: 2,4rem;
    }
    .score-current{
        font-size : 3rem;
    }
    .role{
        font-size : 1rem;
    }
    .current-text{
        font-size : .8rem;
    }
    .dice{
        width : 100%;
    }
}
@media all and (min-width : 600px){
    .game-dice{
        .role{
            font-size: 1.7rem;;
        }
        button{
            padding : 10px 20px;
        }
        .current-text{
            font-size : 1.3rem;
        }
    }
}
@media all and (min-width : 1200px){
    .game-dice{
        svg.dice{
            width : 50%;  
        }
    }
}
/***Flappy***/
.flappy{ 
    canvas{
        border: 1px solid #000;
        display: block;
        margin: 0 auto;
    }
}

/****Capitals****/
.capitals{
    img{
        height : 10rem;
        width : 18rem;
    }
    .logo{
        font-size : 1.3rem;
    }
    .question{
        display : flex;
        justify-content: center;
    }
    h2 {
        color: whitesmoke;
        font-size: 3.4rem;
    }
    #counter{
        margin-top : 13vh;
        align-self: end;
        font-size : 4rem;
        position: absolute;
        right : 2rem;
        top : 1rem;
        text-shadow: none;
        
    }
    #question{
        justify-self: center;
    }    
    button {
        border: 1px black solid;
        border-radius : 10px;
        box-shadow : 1px 1px;
        height : 2em;
        margin-top: 2rem;
        border : none;   
    } 

    .validation {
        height : 0.6em;
        width : 0.4;
        margin-left : 10rem;
        margin-top: 5%;
        font-size : 3rem;
        color : blue;
    }
    .good{
        border : 6px solid green;
    }
    .wrong {
        border : 6px solid red;
    }
    .start-container{
        display: flex;
        justify-content: center;
    }
    .start{
        // /justify-content: center;
        border-radius: 180px;
        transition-duration: 0.3s;
        height : 14rem;
        width : 14rem;
        transition-delay: 0.05s;
    }
    .start:hover{
        height : 15rem;
        width : 15rem;


    }
    .easy{
        background: url("../quiz-cap/mape.jpg");
        background-size: cover;
        background-position: 35%;
        background-size: 200%;
    }
    .med{
        background : url("../quiz-cap/medium.jpg");
        background-size: cover;
        background-position: 30%;
        background-size: 200%;
        color : white
    }
    .hard{
        background : url("../quiz-cap/hard.jpg");
        background-size: cover;
        background-position: 35%;
        background-size: 230%;
    }

    .flag{
    height : 2.7rem;
    width : 5rem;
    }

    .class-wrong{
        color : rgb(97, 1, 1);
        text-shadow: inherit;
        font-size: 3.6rem;
    }
    .class-right{
       text-shadow: inherit;
    color : rgb(1, 97, 1);
    font-size: 3.6rem;
    }
    .class-right{
       text-shadow: inherit;
    color : rgb(1, 97, 1);
    font-size: 3.6rem;
    }
    .recording{
        text-shadow: none;
        color : rgb(1, 97, 1);
        font-size : 1.5rem;
        font-weight: 800;
    }
    .box{
        background-color : whitesmoke;
        height : 90px;
        width : 100%;
    }
    .wrapper-box{
        height :130px;
    }
    .wrapper-circle{
        height : 250px;
    }
}
@media all and (min-width : 1300px) {
    .capitals{
        .start{
            height : 16rem;
            width : 16rem;
            font-size : 2.3rem
        }
        .start:hover{
            height : 18rem;
            width : 18rem;
        }
    }
}
@media all and (min-width : 991px) {
    .capitals{
        .start{
            height : 16rem;
            width : 16rem;
            font-size: 2rem;
        }
        .start:hover{
            height : 18rem;
            width : 18rem;
        }
        .wrapper-circle{
            height : 340px;
        }
    }
}
